<div>
    <h1>Resetear contraseña</h1>
    {{#if error}}
        <p style="color: red;"> {{error}}</p>
    {{/if}}
    <form action="/users/resetPassword" method="POST">
        <label for="email"> Email </label>
        <input type="text" name="email">
        <br>
        <br>
        <label for="password"> Password </label>
        <input type="text" name="password">
        <br>
        <br>
        <button type="submit">ENVIAR</button>
    </form>
</div>